/* -----------------------*/
/* ----->>> BASE <<<<-----*/
/* -----------------------*/
* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#wrapper {
	width: 100%;
	height: 100%;
}

/* ------------------------------*/
/* ----->>> ACTIONS AREA <<<-----*/
/* ------------------------------*/
#action-area {
	width: 100%;
	height: 7%;
	background: #c1bfea; /* Old browsers */
	background: -moz-linear-gradient(top,  #c1bfea 0%, #ebe9f9 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1bfea), color-stop(97%,#ebe9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c1bfea 0%,#ebe9f9 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c1bfea 0%,#ebe9f9 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c1bfea 0%,#ebe9f9 97%); /* IE10+ */
	background: linear-gradient(to bottom,  #c1bfea 0%,#ebe9f9 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=0 ); /* IE6-9 */
}

#action-area section {
	
	padding-left: 1.00em;
}

#option-area ul{
	
}

#option-area ul li {
	display:	inline;
	position:	relative;	

	padding-left: 0.50em;
}
#option-area li ul {
	padding-top: 0.50em;
	padding-left: 1.50em;
	
	height: 2em;
	
	border: 1pt solid red;
}

#option-area li:hover  > ul {
	display:	block;
}

#option-area ul ul {
	position: absolute;
	display:	none;
	
	width:	20em;
	height:	2em;	
}

#option-area ul ul li{
	border:	1pt solid black;
	width: 4.00em;
}

#action-area-types {
	width: 30%;
}

#action-area-types a {
	width: 10%;
	border-color: red;
	margin: -2px;
	padding: 2px 8px;
	line-height: 2em;
	text-decoration: none;
}

/* ---------------------------*/
/* ----->>> NOTE AREA <<<-----*/
/* ---------------------------*/
#note-area {
	position: relative;
	width: 100%;
	height: 93%;

}

/* Task Filters */
#task-filter {
	background: #ffff88;
}

#all-filter {
	background: #000000;
}

#issue-filter {
	background: #b6e026;
}

/* Edge Filter Smoothing */
.task-filter-leftmost {
	border-radius: 25px 0px 0px 25px;
}

.task-filter-rightmost {
	border-radius: 0px 25px 25px 0px;
}

/* ---------------------------*/
/* ----->>> BASE NOTE <<<-----*/
/* ---------------------------*/
.note {
	position: absolute;
	box-shadow: 0px 0px 5px 2px #888888;
	padding-bottom: 1.20em;
}

.note textarea {
	background: transparent;
	border: none;
	outline: none;
	height: 1.4em;
	font-family: Times New Roman;
	width: 100%;
	resize: none;
}

.note-header .timeago {
	font-size: 0.70em;
	color: black;
}

.note-footer {
	
}

.task-filter-active {
	
}

.task-filter-inactive {
	
}

/* ---------------------------*/
/* ----->>> TASK NOTE <<<-----*/
/* ---------------------------*/
.note-task {
	background: #ffff88; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff88 72%, #ffff88 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%, #ffff88),
		color-stop(100%, #ffff88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffff88 72%, #ffff88 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff88 72%, #ffff88 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff88 72%, #ffff88 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffff88 72%, #ffff88 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ffff88',
		endColorstr='#ffff88', GradientType=0); /* IE6-9 */
}

.note-task-header {
	background: #f2f294;
	text-align: right
}

.note-task-title {
	font-weight: bolder;
	font-size: 1em;
}

.note-task-result {
	font-weight: normal;
	font-size: 0.85em;
}

.note-header-cancel span {
	float: right;
}

.note-task-subtask-header {
	display: inline-block;
}

.note-task-subtask-title {
	font-size: 0.8em;
}


.note-task-subtask-group {
	background: #e9e99d;
}
.note-task-subtask-add span {
	float: left;
}

.note-task-subtask-collapse span {
	float: right;
}

.note-task-subtask-checked span {
	float: right;
}

.note-task-subtasks ul {
	list-style: none;
}


.note-task-subtasks li {
	padding-left: 10px;
	font-size: 0.80em;
}

.note-task-subtasks .timeago {
	text-align: right;
	padding-right: 1.25em;
	font-size: 0.70em;
}

.note-task-subtasks{
	overflow-x: hidden;
	overflow-y: auto;
}

.subtask-content input {
	float: left;
}

.subtask-content textarea {
	padding-left: 1.2em;
	width: 75%;
}

.note :checked+textarea {
	text-decoration: line-through;
}

/* ----------------------------*/
/* ----->>> BUTTON CSS <<<-----*/
/* ----------------------------*/
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}