.project
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.pyc
*.db3
*.db3
*.pyc
python-scripts/notes.db3
python-scripts/__pycache__/db_schema.cpython-33.pyc
*.db3
*.pyc